mat-drawer-container {
    height: 100vh;
    [mat-button] {
        cursor: pointer;
        border: none;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18.75rem;
        min-height: 4rem;
        border-bottom: .0625rem solid rgba(0, 0, 0, 0.25)
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        li {
            display: flex;
            align-items: center;
            padding-block: 1rem;
            cursor: pointer;
            gap: 1rem;
            margin-left: 1rem;
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
    .main-content {
        margin-left: 4rem;
        margin-top: 2rem;
    }
}